/* General styling */
body {
  background-color: #C0C4CA;
}

h1, h2, h3 {
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
}

h4 {
  font-family: 'Noto Sans JP', sans-serif;
}

h5 {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 30px;
  color: rgb(0, 0, 0);
}

.page-nav {
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
  color: rgb(7, 7, 7);
  background-color: #f7b91e;
  border-style: solid;
  border-color: rgb(7, 7, 7);
  border-width: 4px;
  border-radius: 6px;
}

hr {
  border-top: 1px solid;
  max-width: 70%;
}

.hr-comment {
    border-top: 1px solid;
    max-width: 90%;
  }

/* Navigation styling */
.nav-menu {
  flex-direction: row;
}

.nav-menu li {
  font-family: 'Roboto Slab', serif;
}

.nav-item {
  display: block;
  padding: 0.5rem 1rem;
  color: rgb(201, 203, 204);
  text-decoration: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.dropdown-icon {
  color: rgb(201, 203, 204);
}

.nav-item:hover {
  color: #f7b91e;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #24272C;
  height: 50px;
  padding: 1em;
  opacity: 0.9;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu>li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

/* Blog List styling */
.header-text {
  text-align: center;
  color: rgb(201, 203, 204);
  padding: 2rem;
}

.list-header-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/ddq4xlkxd/image/upload/v1674423779/pexels-deane-bayas-9212878_f597ae.jpg");
}

.header-btn {
  margin: auto;
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
  color: rgb(7, 7, 7);
  background-color: #f7b91e;
  border-style: solid;
  border-color: rgb(7, 7, 7);
  border-width: 4px;
  border-radius: 6px;
}

.list-image {
  max-width: 100%;
}

/* Thread Post Card */

.thread-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 10px;
  opacity: 0.9;
  background-color: #d8dfe4;
}

.card-title {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 30px;
  font-weight: bold;
}

/* Home Page styling */
.home-header-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/ddq4xlkxd/image/upload/v1674243570/header_pdz30e.png");
}

.home-header {
  font-family: 'Noto Sans JP', sans-serif;
}

/* About Page styling */
.about-container {
  background-color: #444;
}

.about-header{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/ddq4xlkxd/image/upload/v1674418447/pexels-supreet-8134647_sykbgv.jpg");

}

.about-bg {
  width: 100%;
  height: auto;
}

.about-text {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 20px;
}

/* My Threads Page styling */
.my-thread-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/ddq4xlkxd/image/upload/v1674576192/wmpcpaumsf5oge7irzr8.jpg");
}

.my-threads {
  text-align: center;
  display: flex;
}

.edit-btn {
  display: inline-flex;
}

/* Featured Thread Page */
.feature-header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/ddq4xlkxd/image/upload/v1674418447/pexels-supreet-8134647_sykbgv.jpg");
}

/* Thread Detail Page */
.detail-bg {
  background-color: #d8dfe4;
}

@media (max-width: 700px) {

  .menu-button-container {
    display: flex;
  }

  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  #menu-toggle~.menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu-toggle:checked~.menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .menu>li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }

  .menu>li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}