{% extends "base.html" %}

{% block content %}

{% load static %}


<div class="container px-4 about-container">
    <div class="row gx-4">
        <div class="col-lg-8 mx-auto">
            <img src="https://res.cloudinary.com/ddq4xlkxd/image/upload/v1674418447/pexels-supreet-8134647_sykbgv.jpg" class="about-bg" alt="">
            <h2>About us</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, ea quod atque quasi laudantium
                voluptate tempora veritatis reiciendis, laboriosam nesciunt corrupti facere dolore tempore accusamus
                quas quam itaque, cum perspiciatis.</p>
        </div>
    </div>
</div>


{% endblock %}