{% extends "base.html" %}

{% block content %}

{% load static %}

<!-- <main>
<div class="container px-4 about-container">
    <div class="row gx-4">
        <div class="col-lg-8 mx-auto"> -->
<header class="masthead d-flex align-items-center about-header">
    <div class="container px-4 px-lg-5 text-center header-text">
        <!-- <img src="https://res.cloudinary.com/ddq4xlkxd/image/upload/v1674418447/pexels-supreet-8134647_sykbgv.jpg" class="about-bg" alt=""> -->
        <h2>About us</h2>
    </div>
</header>
<main>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="about-text">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem ad ut laudantium adipisci autem.
                        Dignissimos sunt autem labore magni beatae, delectus temporibus quo quidem non officia, eum vero
                        culpa adipisci?
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>





{% endblock %}