{% extends "base.html" %}

{% block content %}

{% load static %}

<!-- Header -->
<header class="masthead d-flex align-items-center about-header pt-5">
    <div class="container px-4 px-lg-5 text-center header-text">
        <h2>About us</h2>
    </div>
</header>
<!-- Main content -->
<main>
    <div class="container about-container">
        <div class="row my-5 py-5">
            <div class="col">
                <div class="about-text">
                    <p>
                        GT Modellista offers a fun and inclusive throw back to the golden era of web based car forums.
                        Before social media became king and 4G existed the eaiest way to connect with a large community
                        of like minded car enthusiasts was through a forum. There are many forums still buzzing with
                        activity but little off a blanket inclusivity. GT Modellista welcomes petrol heads from all
                        walks of life! From your American Muscle, to your JDM icon and everything inbetwee, share your
                        builds with us through a Build Thread.
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>





{% endblock %}