{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="GT Modellista | An online community for car enthusiasts to share their builds and collections.">
  <meta name="keywords" content="cars, car culture, car tuning">
  <meta name="author" content="Andrew Linehan">
  <title>GT Modellista</title>
  <!-- Google Fonts CDN -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&family=Roboto+Slab:wght@800&display=swap"
    rel="stylesheet">
  <!-- Bootstrap CSS CDN -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <!-- Font Awesome CDN -->
  <script src="https://kit.fontawesome.com/e83fc612cc.js" crossorigin="anonymous"></script>
  <!-- Static CSS -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
  <!-- Navigation bar -->
  <section class="top-nav sticky-top navbar-bg">
    <a class="navbar-brand" href="{% url 'home' %}">
      <img src="https://res.cloudinary.com/ddq4xlkxd/image/upload/v1674243570/gtm-logo_tn9gja.png" alt="" width="100"
        height="34">
    </a>
    <input id="menu-toggle" type="checkbox" />
    <label class='menu-button-container' for="menu-toggle">
      <div class='menu-button'></div>
    </label>
    <ul class="menu navbar-nav justify-content-end nav-menu">
      <li>
        <a class="nav-item active" aria-current="page" href="{% url 'home' %}">Home</a>
      </li>
      <li>
        <a class="nav-item" href="{% url 'about' %}">About</a>
      </li>
      <li>
        <a class="nav-item" href="{% url 'blog_lists' %}" style="white-space: nowrap;">GT Modellista</a>
      </li>
      {% if user.is_authenticated %}
      <li>
        <a class="nav-item" href="#" style="white-space: nowrap;">Logged in as: {{ user.username }}</a>
      </li>
    {% endif %}
      <li>
        <a class="nav-link dropdown-toggle dropdown-icon" href="#" role="button" data-toggle="dropdown"
          aria-expanded="false"></a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{% url 'featured' %}">Featured Threads</a></li>
          {% if user.is_authenticated %}
          <li>
            <a class="dropdown-item" href="{% url 'my_threads' %}">My Build Threads</a>
          </li>
          <li>
            <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
          </li>
          {% else %}
          <li><a class="dropdown-item" href="{% url 'account_signup' %}">Register</a></li>
          <li><a class="dropdown-item" href="{% url 'account_login' %}">Login</a></li>
          {% endif %}
        </ul>
      </li>
      </li>
    </ul>
  </section>

  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissable fade show" id="msg" role="alert">
          {{ message | safe}}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  {% block content %}
  <!-- Content Goes here -->
  {% endblock %}


  <!-- Footer -->
  <footer class="bg-dark text-center text-white">
    <div class="container p-4 pb-0">
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>

        <!-- Youtube -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-youtube"></i></a>

        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i></a>

      </section>
    </div>

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-white" href="#">GT Modellista</a>
    </div>
  </footer>

  <!-- Alert Message auto dismiss -->
  <script>
    setTimeout(function () {
      let messages = document.getElementById('msg');
      let alert = new bootstrap.Alert(messages);
      alert.close();
    }, 2500);
  </script>
  <!-- Bootstrap JS  Script -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
    integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous">
  </script>

</body>

</html>