{% extends "base.html" %}

{% block content %}

{% load static %}

<!-- Header-->
<header class="masthead d-flex align-items-center header-bg">
    <div class="container px-4 px-lg-5 text-center">
        <h1 class="mb-1">Build Threads</h1>
        <h3 class="mb-5"><em>Lorem ipsum dolor sit amet consectetur adipisicing elit.</em></h3>
        <a class="btn btn-primary btn-xl" href="{% url 'register' %}">Create a Thread</a>
    </div>
</header>
<main>
    <div class="container">
        <div class="row">
            <!-- Blog Entries Column -->
            <div class="col-sm-6 mt-3 left">
                <div class="row">
                    {% for thread in thread_list %}
                    <div class="card mb-4">
                        <div class="card-body">
                            <h2 class="card-title text-center">{{ thread.year }} {{ thread.make }} {{ thread.model }}
                            </h2>
                            <!-- <img class="card-img-top" src=" {{ thread.thread_image.url }}" alt=""> -->
                            <a href="{% url 'thread_detail' thread.slug %}" target="_blank">
                                <img src=" {{ thread.thread_image.url }}" alt="" class="list-image">
                            </a>
                            <p class="card-text text-muted h6">{{ thread.author }} | {{ thread.post_date}} </p>
                            <i class="far fa-heart"></i>{{ thread.likes }}
                            <p class="card-text"></p>
                        </div>
                        {% if forloop.counter|divisibleby:2 %}
                    </div>
                    <div class="row">
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


{% if is_paginated %}
{% include "pagination.html" %}
{% endif %}
{% endblock %}