{% extends "base.html" %}

{% block content %}

{% load static %}

<!-- Header-->
<header class="masthead d-flex align-items-center header-bg">
    <div class="container px-4 px-lg-5 text-center">
        <h1 class="mb-1">Build Threads</h1>
        <h3 class="mb-5"><em>Lorem ipsum dolor sit amet consectetur adipisicing elit.</em></h3>
        <a class="btn btn-primary btn-xl" href="{% url 'account_signup' %}">Create a Thread</a>
    </div>
</header>
<main>
    <div class="container-fluid">
        <div class="row">
            <!-- Blog Entries Column -->
            {% for thread in thread_list %}
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center">{{ thread.year }} {{ thread.make }} {{ thread.model }}
                        </h2>
                        <!-- <img class="card-img-top" src=" {{ thread.thread_image.url }}" alt=""> -->
                        <a href="{% url 'thread_detail' thread.slug %}" target="_blank">
                            <img src=" {{ thread.thread_image.url }}" alt="" class="list-image">
                        </a>
                        <p class="card-text text-muted h6">{{ thread.author }} | {{ thread.post_date}} </p>
                        <span><i class="far fa-heart"></i>{{ thread.likes }}</span>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>


{% if is_paginated %}
{% include "pagination.html" %}
{% endif %}
{% endblock %}