{% extends "base.html" %}

{% block content %}

{% load static %}

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            <div class="post-preview">
                <img src="{% static 'images/parts.png' %}" class="img-fluid" alt="...">
                <a href="{% url 'threads' %}" class="btn btn-primary active" role="button" data-bs-toggle="button" aria-pressed="true">Active toggle link</a>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Post preview-->
            <div class="post-preview">
                <img src="{% static 'images/parts.png' %}" class="img-fluid" alt="...">
                <button type="button" class="btn btn-dark">Dark</button>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Post preview-->
            <div class="post-preview">
                <img src="{% static 'images/parts.png' %}" class="img-fluid" alt="...">
                <button type="button" class="btn btn-dark">Dark</button>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
        </div>
    </div> 
</div>

{% endblock %}