{% extends "base.html" %}

{% block content %}

{% load static %}

<!-- Header-->
<header class="masthead d-flex align-items-center list-header-img">
    <div class="container px-4 px-lg-5 text-center header-text">
        <h1 class="mb-1">Build Threads</h1>
        <h4 class="mb-5">Share your Build Threads with us!</h4>
        <div class="pb-3">
            <a class="btn btn-primary btn-xl header-btn" href="{% url 'create_thread' %}">Create a Thread</a>
        </div>
    </div>
</header>
<hr class="mt-5">
<!-- Build Thread List -->
<main>
    <div class="container-fluid">
        <div class="row pt-5">
            <!-- Blog Entries Column -->
            {% for thread in thread_list %}
            <div class="col-md-4 pb-5">
                <div class="card thread-card">
                    <div class="card-body">
                        <h2 class="card-title text-center card-title">{{ thread.year }} {{ thread.make }} {{ thread.model }}
                        </h2>
                        <hr>
                        <a href="{% url 'thread_detail' thread.slug %}">
                            <img src=" {{ thread.thread_image.url }}" alt="" class="list-image">
                        </a>
                        <p class="card-text text-muted h6">{{ thread.author }} | {{ thread.post_date}} </p>
                        <!-- Post Like function -->
                        {% if user.is_authenticated %}
                        <form action="{% url 'thread_like' thread.slug %}" method="POST">
                            {% csrf_token %}
                            {% if liked %}
                            <button type="submit" name="userthread_id" value="{{thread.slug}}" class="btn-like"><i class="fa-regular fa-thumbs-up"></i></button>
                            {% else %}
                            <button type="submit" name="userthread_id" value="{{thread.slug}}" class="btn-like"><i class="fa-solid fa-thumbs-up"></i></button>
                            {% endif %}
                        </form>
                        {% else %}
                        <span class="text_secondary"><i class="fa-regular fa-thumbs-up"></i></span>
                        {% endif %}
                        <span class="text_secondary">{{ thread.number_of_likes }}</span>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>


{% if is_paginated %}
{% include "pagination.html" %}
{% endif %}
{% endblock %}