{% extends "base.html" %}

{% block content %}

{% load static %}

<!-- Header-->
<header class="masthead d-flex align-items-center header-bg">
    <div class="container px-4 px-lg-5 text-center">
        <h1 class="mb-1">Build Threads</h1>
        <h3 class="mb-5"><em>Lorem ipsum dolor sit amet consectetur adipisicing elit.</em></h3>
        <a class="btn btn-primary btn-xl" href="{% url 'register' %}">Create a Thread</a>
    </div>
</header>
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-sm-6 mt-3 left">
            {% for thread in thread_list %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ thread.year }} {{ thread.make }} {{ thread.model }}</h2>
                    <img src="url('{{ thread.thread_image.url }}')" alt=""> 
                    <p class="card-text text-muted h6">{{ thread.author }} | {{ thread.post_date}} </p>
                    <p class="card-text"></p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}