{% extends "base.html" %}

{% block content %}
{% load static %}
{% load cloudinary %}
{% load crispy_forms_tags %}



<div class="container">
    <div class="container px-5">
        <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
            <div class="text-center mb-5">
                <div class="bg-primary bg-gradient text-white rounded-3 mb-3"></div>
                <form method="post" enctype="multipart/form-data">
                    <h3>Create your thread</h3>
                    {% csrf_token %}
                    {{ form.media}}
                    {{ form.as_p }}
                    <button class="btn" type="submit">Create Thread</button>
                </form>
            </div>
        </div>



        {% endblock %}