{% extends "base.html" %}

{% block content %}
{% load static %}
{% load crispy_forms_tags %}


{% if user.is_authenticated and user.id == thread.author.id %}

<div class="container">
    <div class="container px-5">
        <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
            <div class="text-center mb-5">
                <div class="bg-primary bg-gradient text-white rounded-3 mb-3"></div>
                <form method="post" enctype="multipart/form-data">
                    <h3>Edit your thread</h3>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn header-btn" type="submit">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% else %}

<div class="container">
    <div class="row">
        <div class="col-md-10 mt-2 mx-auto text-center add_build_form">
            <div class="darkg-bg py-5 user-border">
                <h1>Access Denied</h1>
                <p>In order to access this page, please log in <a href="{% url 'account_login' %}">here</a></p>
            </div>
        </div>
    </div>
</div>

{% endif %}

{% endblock %}