{% extends 'base.html'%}

{% block content %}

{% load cloudinary %}

{% if user.is_authenticated and user.username == comment.name %}
<!-- Edit comment title -->
<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Edit Comment</h1>
                <hr>
            </div>
        </div>
    </div>
<!-- Edit comment form -->
    <div class="row">
        <div class="col-6">
            <form class="signup" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-secondary right mb-2" type="submit" value="Save">Save</button>
            </form>
        </div>
    </div>
</section>

{% endif %}
{% endblock %}