{% extends "base.html" %}

{% block content %}

{% load static %}

<div class="container">
    <!-- <div class="row">
        {% for thread in featured_threads %}
        <div class="col-md-4">
            <div class="card">
                <div class="card-body blog-card">
                    <h2 class="card-title text-center">{{ thread.year }} {{ thread.make }} {{ thread.model }}
                    </h2>
                    <a href="{% url 'thread_detail' thread.slug %}">
                        <img src=" {{ thread.thread_image.url }}" alt="" class="list-image">
                        <p class="card-text text-muted h6">{{ thread.author }} | {{ thread.post_date}} </p>
                        <span class="text_secondary">{{ thread.number_of_likes }}</span>
                                <p class="card-text"></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div> -->
    <div class="row row-cols-1 row-cols-md-2">
        {% for thread in featured_threads %}
        <div class="col mb-4">
            <div class="card">
                <img src=" {{ thread.thread_image.url }}" alt="" class="list-image">
                <div class="card-body">
                    <h5 class="card-title text-center">{{ thread.year }} {{ thread.make }} {{ thread.model }}</h5>
                    <p class="card-text text-muted h6">{{ thread.author }} | {{ thread.post_date}} </p>
                    <span class="text_secondary">{{ thread.number_of_likes }}</span>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    {% endblock %}