<!-- {% extends "base.html" %}

{% block content %}

{% load static %} -->
<!-- <form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form> -->

<!-- <section>
    <div class="container px-5"> -->
        <!-- Contact form-->
        <!-- <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
            <div class="text-center mb-5">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"></div>
                <h1 class="fw-bolder">Log In</h1>
                <p class="lead fw-normal text-muted mb-0">If you do not have an account you can register HERE</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">
                    <form id="contactForm"> -->
                        <!-- Username input-->
                        <!-- <div class="form-floating mb-3">
                            <input class="form-control" id="name" type="text" placeholder="username" />
                            <label for="name">Username</label>
                        </div> -->
                        <!--Password input-->
                        <!-- <div class="form-floating mb-3">
                            <input class="form-control" id="password" type="password" placeholder="password" />
                            <label for="password">Password</label>
                        </div> -->
                        <!-- Submit success message-->
                        <!-- <div class="text-center"><button class="btn btn-primary btn-xl text-uppercase disabled" id="submitButton" type="submit">Log In</button></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</section> -->


<!-- {% endblock %} -->