{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}
{% load static %}
<!-- Thread Header w/image -->
<div class="container px-5 my-5">
    <div class="row gx-5 justify-content-center detail-bg">
        <div class="col-lg-6 py-3">
            <div class="text-center mb-5">
                <h1 class="fw-bolder">{{ thread.year }} {{ thread.make }} {{ thread.model }}</h1>
                <h2 class="text-center py-3">Story:</h2>
                <div>
                    <p>{{ thread.story | safe }}</p>
                </div>
                <hr>
                <h2 class="text-center py-3">Modifications:</h2>
                <div>
                    {{ thread.modifications | safe }}
                </div>
            </div>
        </div>
    </div>
    <!-- Thread Image -->
    <div class="row gx-5">
        <div class="col-12"><img class="img-fluid rounded-3 mb-5" src=" {{ thread.thread_image.url }}" alt="..." />
        </div>
    </div>
    <!-- Likes and Comments counter -->
    <div class="row">
        <div class="col-sm">
            {% if user.is_authenticated %}
            <form action="{% url 'thread_like' thread.slug %}" method="POST">
                {% csrf_token %}
                {% if liked %}
                <button type="submit" name="userthread_id" value="{{thread.slug}}" class="text-secondary"><i
                        class="fa-regular fa-thumbs-up"></i></button>
                {% else %}
                <button type="submit" name="userthread_id" value="{{thread.slug}}" class="text-secondary"><i
                        class="fa-solid fa-thumbs-up"></i></button>
                {% endif %}
            </form>
            {% else %}
            <span class="text-secondary"><i class="fa-regular fa-thumbs-up"></i></span>
            {% endif %}
            <strong class="text-secondary">{{ thread.number_of_likes }}</strong>
        </div>
        <div class="col-sm">
            {% with comments.count as comments_total %}
            <strong class="text-secondary"><i class="far fa-comments"></i>
                {{ comments_total }}
            </strong>
            {% endwith %}
        </div>
    </div>
    <!-- Comments section -->
    <div class="container">
        <div class="row card mb-3">
            <div class="col my-4">
                <h3>Comments:</h3>
                <div class="card-body border border-dark">
                    {% for comment in comments %}
                    <div class="comments" style="padding: 10px;">
                        <p class="font-weight-bold">
                            {{ comment.name }}
                            <span class=" text-muted font-weight-normal">
                                {{ comment.updated_date }}
                            </span> wrote:
                        </p>
                        {{ comment.body | linebreaks }}
                    </div>
                    <hr class="hr-comment">
                    <!-- Edit/Delete Comments -->
                    {% if user.is_authenticated and user.username == comment.name %}
                    <a href="{% url 'edit_comment' comment.id %}"><button
                            class="btn-sm btn-secondary ">Edit</button></a>
                            <form action="{% url 'delete_comment' comment.id %}" method="get">
                                <button class="btn btn-danger" action="submit">Delete</button></form>
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Delete Comment</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Your comment will be deleted, do you want to continue?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No,
                                        Close</button>
                                    <a href="{% url 'delete_comment' comment.id %}"><button type="submit"
                                            class="btn btn-danger">Yes, Delete</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% if commented %}
        <div class="col card mb-4">
            <div class=" card-body">
                <div class="alert alert-success" role="alert">
                    Your comment was posted successfully!
                </div>
            </div>
            {% else %}
            <!-- Submit Comment -->
            {% if user.is_authenticated %}
            <div class="col card mb-4 pb-2">
                <h3>Leave a comment</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button class="header-btn" type="submit">Submit comment</button>
                </form>
            </div>
            {% endif %}
            {% endif %}

        </div>
    </div>
</div>
</div>

{% endblock %}