{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}
{% load static %}

<div class="container px-5 my-5">
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-6">
            <div class="text-center mb-5">
                <h1 class="fw-bolder">{{ thread.year }} {{ thread.make }} {{ thread.model }}</h1>
                <p class="lead fw-normal text-muted mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab
                    similique, ducimus ut alias sit accusamus illum, asperiores deserunt dolorum quaerat qui! Ab,
                    quisquam explicabo magni dolores unde beatae quam a.</p>
            </div>
        </div>
    </div>
    <div class="row gx-5">
        <div class="col-12"><img class="img-fluid rounded-3 mb-5" src=" {{ thread.thread_image.url }}"
                alt="..." />
            </div>
    </div>
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3>Comments:</h3>
            <div class="card-body">
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        {{ comment.author }}
                        <span class=" text-muted font-weight-normal">
                            {{ comment.updated_date }}
                        </span> wrote:
                    </p>
                    {{ comment.body | linebreaks }}
                </div>
                {% endfor %}
            </div>
        </div>
    <div class="col-md-4 card">
        <div class="card-body">
            {% if commented %}
            <div class="alert alert-success" role="alert">
                Please wait while we approve your comment
            </div>
            {% else %}

            {% if user.is_authenticated %}
            <h3>Leave a comment</h3>
            <p>Posting as: {{ user.username }}</p>
            <form method="post">
                {{ comment_form | crispy }}
                {% csrf_token %}
                <button type="submit">Submit comment</button>
            </form>
            {% endif %}
            {% endif %}

        </div>
    </div>
</div>
</div>

{% endblock %}