{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}
{% load static %}

<div class="container px-5 my-5">
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-6">
            <div class="text-center mb-5">
                <h1 class="fw-bolder">{{ thread.year }} {{ thread.make }} {{ thread.model }}</h1>
                <h2 class="text-center">Story:</h2>
                <div>
                    <p>{{ thread.story | safe }}</p>
                </div>
                <hr>
                <h2 class="text-center">Modifications:</h2>
                <div>
                    {{ thread.modifications | safe }}
                </div>
            </div>
        </div>
    </div>
    <div class="row gx-5">
        <div class="col-12"><img class="img-fluid rounded-3 mb-5" src=" {{ thread.thread_image.url }}" alt="..." />
        </div>
    </div>
    <div class="col-1">
        {% if user.is_authenticated %}
        <form action="{% url 'thread_like' thread.slug %}" method="POST">
            {% csrf_token %}
            {% if liked %}
            <button type="submit" name="userthread_id" value="{{thread.slug}}" class="btn-like"><i
                    class="far fa-heart"></i></button>
            {% else %}
            <button type="submit" name="userthread_id" value="{{thread.slug}}" class="btn-like"><i
                    class="fas fa-heart"></i></button>
            {% endif %}
        </form>
        {% else %}
        <span class="text_secondary"><i class="far fa-heart"></i></span>
        {% endif %}
        <span class="text_secondary">{{ thread.number_of_likes }}</span>
    </div>
    <div class="container">
        <div class="row card">
            <div class="col my-4">
                <h3>Comments:</h3>
                <div class="card-body border border-dark">
                    {% for comment in comments %}
                    <div class="comments" style="padding: 10px;">
                        <p class="font-weight-bold">
                            {{ comment.name }}
                            <span class=" text-muted font-weight-normal">
                                {{ comment.updated_date }}
                            </span> wrote:
                        </p>
                        {{ comment.body | linebreaks }}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% if commented %}
        <div class="col card mb-4">
            <div class=" card-body">
                <div class="alert alert-success" role="alert">
                    Your comment was posted successfully!
                </div>
            </div>
            {% else %}

            {% if user.is_authenticated %}
            <div class="col card mb-4">
                <h3>Leave a comment</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit">Submit comment</button>
                </form>
            </div>
            {% endif %}
            {% endif %}

        </div>
    </div>
</div>
</div>

{% endblock %}